HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/src/fotos
/src/yalefaces
src/main/resources/classificadorEigenFaces.yml
src/main/resources/classificadorFisherFaces.yml
src/main/resources/classificadorLbph.yml
src/main/resources/classificadorEigenFacesYale.yml
src/main/resources/classificadorFisherFacesYale.yml
src/main/resources/classificadorLbphYale.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.gitattributes
.mvn/
        
